@media only screen and (max-width: 991px) {
    /** CARPOOL */
    .carpool-rides-list .item .details {
        text-align: center;
    }
}
@media only screen and (max-width: 1080px) {
    /** CARPOOL */
    .carpool-rides-list .item .main-details .icon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    /** CARPOOL */
    .carpool-ride-list-container .navigate-container {
        bottom: 55px;
    }
    .carpool-ride-list-container .navigate-container .container {
        width: 80% !important;
    }
    .carpool-ride-list-container .driver-pool-results .container {
        width: 80% !important;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .container {
        width: 80% !important;
    }
}
@media only screen and (max-width: 480px) {
    /** BOTTOM NAVBAR */
    .carpool-tab-button,
    .shuttle-tab-button,
    .user-account-tab-button {
        font-size: 12px;
    }
    /** CARPOOL */
    .carpool-ride-list-container .navigate-container {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .navigate-container .btn {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .navigate-container .container {
        width: 100% !important;
    }
    .carpool-ride-list-container .driver-pool-results .container {
        width: 100% !important;
        padding: 0;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .container {
        width: 100% !important;
        padding: 0;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar-container {
        height: 40px;
        width: 40px;
    }
    .carpool-ride-list-container .navigate-container .btn {
        font-size: 0.75rem;
    }
    .carpool-rides-list .item .main-details .icon {
        font-size: 2rem;
    }
    .carpool-rides-list {
        padding: 0;
        margin: 0;
    }
    .carpool-container .more-carpool-buttons button {
        font-size: 0.75rem;
    }
    .scan-qr-carpool-button,
    .submit-vehicle-id-button,
    .carpool-vehicle-id-input  {
        width: 80% !important;
    }
    .scan-qr-to-ride-reader  {
        width: 350px;
    }
}
@media only screen and (max-width: 320px) {
    /** BOTTOM NAVBAR */
    .main-bottom-navbar .carpool-tab-button,
    .main-bottom-navbar .shuttle-tab-button,
    .main-bottom-navbar .user-account-tab-button {
        font-size: 0.75rem;
    }
    .main-bottom-navbar .carpool-tab-button i,
    .main-bottom-navbar .shuttle-tab-button i,
    .main-bottom-navbar .user-account-tab-button i {
        font-size: 0.875rem;
    }
}