@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

a {
  color: #007ACC;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 18.72px;
  font-size: 1.17rem;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  font-size: 13.28px;
  font-size: 0.83rem;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

input[type=text], input[type=email], input[type=password] {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
}

button {
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

/** FONT */
/** FONT WEIGHT */
/** COLORS */
.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.row {
  padding: 8px;
  width: 80%;
  margin: auto;
}

.fixed-on-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.fixed-on-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.fixed-on-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.color-text-green {
  color: #80C051;
}

.color-text-red {
  color: #ED6346;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-header {
  width: 80%;
  margin: 24px auto 36px auto;
  color: #007ACC;
}
.login-header h1 {
  text-align: center;
}

.register-header {
  width: 80%;
  margin: 24px auto 36px auto;
  color: #007ACC;
}
.register-header h1 {
  text-align: center;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1201px) {
  .login-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .login-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .login-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .login-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .login-form-container {
    width: 85%;
  }
}

.login-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

.register-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1201px) {
  .register-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .register-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .register-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .register-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .register-form-container {
    width: 85%;
  }
}

.register-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

.update-profile-form-container {
  position: relative;
  margin: auto;
  height: 100%;
}
@media (min-width: 1201px) {
  .update-profile-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .update-profile-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .update-profile-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .update-profile-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .update-profile-form-container {
    width: 100%;
  }
}

.update-profile-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.search-service-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  overflow: hidden;
}
@media (min-width: 1201px) {
  .search-service-modal {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 1200px) {
  .search-service-modal {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 900px) {
  .search-service-modal {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 600px) {
  .search-service-modal {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 480px) {
  .search-service-modal {
    width: 95%;
    height: 85%;
  }
}
.search-service-modal .modal-header {
  width: 100%;
}
.search-service-modal .modal-header h2 {
  padding: 24px 12px 12px 16px;
}
.search-service-modal .modal-body {
  width: 100%;
  height: calc(100% - 48px);
}
.search-service-modal .modal-body .modal-body-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  padding: 8px 12px 12px 12px;
}
@media (max-width: 600px) {
  .search-service-modal .modal-body .modal-body-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1201px) {
  .search-service-modal .modal-body .modal-body-header {
    justify-content: space-between;
  }
}
.search-service-modal .modal-body .modal-body-content {
  height: calc(100% - 150px);
  padding: 0 8px 12px 18px;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .search-service-modal .modal-body .modal-body-content {
    height: calc(100% - 240px);
  }
}
.search-service-modal .modal-body .modal-body-content .content {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  padding: 8px 0 8px 8px;
  border-bottom: solid 1px black;
}
.search-service-modal .modal-body .modal-body-content .content .icon {
  width: fit-content;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-service-modal .modal-body .modal-body-content .content .icon svg {
  height: 48px;
  margin-bottom: 12px;
}
@media (max-width: 900px) {
  .search-service-modal .modal-body .modal-body-content .content .icon svg {
    height: 36px;
  }
}
@media (max-width: 600px) {
  .search-service-modal .modal-body .modal-body-content .content .icon svg {
    height: 24px;
  }
}
.search-service-modal .modal-body .modal-body-content .content .icon span {
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
}
.search-service-modal .modal-body .modal-body-content .content .details {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.search-service-modal .modal-body .modal-body-content .content .details .col {
  flex-basis: 33.33%;
}
.search-service-modal .modal-body .modal-body-content .content .details .col span {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
@media (max-width: 600px) {
  .search-service-modal .modal-body .modal-body-content .content .details .col span {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}
@media (max-width: 480px) {
  .search-service-modal .modal-body .modal-body-content .content .details .col span {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
.search-service-modal .modal-body .modal-body-content .content .details .col span.label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
}
@media (max-width: 600px) {
  .search-service-modal .modal-body .modal-body-content .content .details .col span.label {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
@media (max-width: 480px) {
  .search-service-modal .modal-body .modal-body-content .content .details .col span.label {
    font-size: 10px;
    font-size: 0.625rem;
  }
}
.search-service-modal .modal-body .modal-body-content .content .details .col span.vehicle-schedule-type {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  justify-content: center;
}
.search-service-modal .modal-body .modal-body-content .content .details .col span.vehicle-schedule-type .show-schedule {
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.search-service-modal .modal-body .modal-body-content .content .details .col span.vehicle-schedule-type .show-schedule span {
  font-size: 12px;
  font-size: 0.75rem;
  position: absolute;
  right: -18px;
  top: 20px;
  background-color: gray;
  padding: 4px 8px;
  color: white;
  z-index: 1000;
}
.search-service-modal .modal-body .modal-body-content .content .details .col span.vehicle-schedule-type svg {
  height: 16px;
  padding: 0 0 0 4px;
  fill: #C9C9CA;
}
.search-service-modal .modal-body .modal-body-content .content .details span {
  display: block;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.navigation-bar {
  height: 48px;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navigation-side-bar-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navigation-side-bar {
  width: 50%;
  height: 100vh;
  background-color: #007ACC;
}
@media (min-width: 1201px) {
  .navigation-side-bar {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .navigation-side-bar {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .navigation-side-bar {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .navigation-side-bar {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .navigation-side-bar {
    width: 80%;
  }
}
.navigation-side-bar .nav-menu .nav-item .nav-side-button {
  text-align: left;
  width: 100%;
  padding: 8px 36px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.map-navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 0 0;
}

.search-service-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.user-profile-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 0 0;
  overflow: auto;
}

.ride-qr-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #C9C9CA;
  border-radius: 8px;
  width: 600px;
  height: fit-content;
  top: 40%;
  padding: 16px;
}
@media (max-width: 600px) {
  .ride-qr-code-container {
    width: 80%;
  }
}
.ride-qr-code-container .qr-details {
  display: inherit;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.ride-qr-code-container video {
  margin: 16px auto;
  width: 100% !important;
  height: auto !important;
}

.user-qr-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  border: 2px solid #C9C9CA;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
}
.user-qr-code-container .user-display-name, .user-qr-code-container .user-display-plate-number, .user-qr-code-container .user-display-department, .user-qr-code-container .user-display-job-role {
  text-align: center;
}
.user-qr-code-container .user-display-name {
  margin-bottom: 14px;
}
.user-qr-code-container .user-display-plate-number {
  margin-bottom: 8px;
}
.user-qr-code-container .user-display-department, .user-qr-code-container .user-display-job-role {
  margin-bottom: 4px;
  font-weight: 300;
}
.user-qr-code-container .user-qr-code {
  margin: 16px auto;
  width: fit-content;
}
.user-qr-code-container .qr-details {
  display: inherit;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

.search-ride-query-input-container {
  position: relative;
  padding: 24px 16px;
  width: fit-content;
}
@media (max-width: 600px) {
  .search-ride-query-input-container {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .search-ride-query-input-container {
    width: 80%;
  }
}
.search-ride-query-input-container input {
  height: 24px;
  width: 150px;
  padding: 4px 24px 4px 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
@media (max-width: 600px) {
  .search-ride-query-input-container input {
    width: 90%;
  }
}
.search-ride-query-input-container svg {
  position: absolute;
  top: calc(50% - 8px);
  right: 22px;
  height: 14px;
}
@media (max-width: 600px) {
  .search-ride-query-input-container svg {
    right: 20px;
  }
}

.search-ride-filters-container {
  padding: 0 8px;
}
@media (max-width: 600px) {
  .search-ride-filters-container {
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .search-ride-filters-container {
    width: fit-content;
  }
}
@media (min-width: 1201px) {
  .search-ride-filters-container {
    display: flex;
    display: -webkit-flex;
  }
}

.search-ride-filter-by-avail-container, .search-ride-filter-by-days-container {
  padding: 0 0 16px 0;
}
@media (min-width: 1201px) {
  .search-ride-filter-by-avail-container, .search-ride-filter-by-days-container {
    padding: 0;
  }
}
.search-ride-filter-by-avail-container h4, .search-ride-filter-by-days-container h4 {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-bottom: 6px;
}
@media (max-width: 600px) {
  .search-ride-filter-by-avail-container h4, .search-ride-filter-by-days-container h4 {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .search-ride-filter-by-avail-container h4, .search-ride-filter-by-days-container h4 {
    text-align: center;
  }
}
.search-ride-filter-by-avail-container .options, .search-ride-filter-by-days-container .options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
}
@media (max-width: 600px) {
  .search-ride-filter-by-avail-container .options, .search-ride-filter-by-days-container .options {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .search-ride-filter-by-avail-container .options, .search-ride-filter-by-days-container .options {
    justify-content: center;
  }
}
.search-ride-filter-by-avail-container .options .option, .search-ride-filter-by-days-container .options .option {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  margin-right: 8px;
}
.search-ride-filter-by-avail-container .options .option label, .search-ride-filter-by-days-container .options .option label {
  width: fit-content;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-size: 12px;
  font-size: 0.75rem;
}

.modal-no-results-found-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.navigation-menu-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}
.navigation-menu-button .svg-icon {
  color: #000000;
  fill: #000000;
}

.search-service-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
  cursor: pointer;
}
.search-service-button .svg-icon {
  color: #000000;
  fill: #000000;
}

.form-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}

.form-button-primary {
  background-color: #007ACC;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.form-button-primary:disabled {
  background-color: rgba(0, 122, 204, 0.5);
}

.form-button-outlined {
  border: 1px solid #007ACC;
  color: #007ACC;
}

.form-button-outlined:disabled {
  border: 1px solid rgba(0, 122, 204, 0.5);
  color: rgba(0, 122, 204, 0.5);
}

.close-nav-side-bar-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}
.close-nav-side-bar-button .svg-icon {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.close-search-service-modal-button {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  background-color: transparent;
}
.close-search-service-modal-button .svg-icon {
  color: #000000;
  fill: #000000;
}

.nav-menu .nav-item .nav-side-button {
  border: none;
  outline: none;
  padding: 6px;
  background-color: transparent;
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF;
  border-bottom: 1px solid #C9C9CA;
}
.nav-menu .nav-item:nth-child(4) .nav-side-button {
  border-top: 1px solid #C9C9CA;
  border-bottom: 1px solid #C9C9CA;
}

.scan-qr-code-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: #007ACC;
  border: 1px solid transparent;
  color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  margin: 24px auto;
}
@media (min-width: 1201px) {
  .scan-qr-code-button {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .scan-qr-code-button {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .scan-qr-code-button {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .scan-qr-code-button {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .scan-qr-code-button {
    width: 80%;
  }
}
.scan-qr-code-button .svg-icon {
  flex-basis: 40px;
  color: #FFFFFF;
  fill: #FFFFFF;
}
.scan-qr-code-button .label {
  display: inline;
  margin: auto;
}
.scan-qr-code-button:disabled {
  background-color: rgba(0, 122, 204, 0.5);
}

.stop-scan-qr-code-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: #007ACC;
  border: 1px solid transparent;
  color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  margin: 24px auto;
}
@media (min-width: 1201px) {
  .stop-scan-qr-code-button {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .stop-scan-qr-code-button {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .stop-scan-qr-code-button {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .stop-scan-qr-code-button {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .stop-scan-qr-code-button {
    width: 80%;
  }
}
.stop-scan-qr-code-button .svg-icon {
  flex-basis: 40px;
  color: #FFFFFF;
  fill: #FFFFFF;
}
.stop-scan-qr-code-button .label {
  display: inline;
  margin: auto;
}
.stop-scan-qr-code-button:disabled {
  background-color: rgba(0, 122, 204, 0.5);
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.input-label {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

.form-input {
  padding: 8px 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}

.form-input-select {
  padding: 8px 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
.form-input-select option {
  padding: 3px 4px;
}

.whitespace {
  width: 100%;
  height: 30px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.svg-icon {
  height: 24px;
  color: #000000;
  fill: #000000;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.brand-name-link {
  display: block;
}
.brand-name-link .brand-name-title {
  font-weight: 700;
  color: #007ACC;
  font-size: 24px;
  font-size: 1.5rem;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.display-user-name {
  padding: 8px 36px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
}
.display-user-name .user-avatar {
  width: 100px;
  height: 100px;
  margin: 16px auto;
  border: 1px solid #C9C9CA;
  border-radius: 50%;
}
.display-user-name .user-name {
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.page-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.modal-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-page {
  width: 100%;
  height: 100vh;
  background-color: #EDEDED;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.home-page {
  width: 100%;
  height: 100vh;
  background-color: #EDEDED;
  overflow: auto;
}

/*# sourceMappingURL=index.css.map */
