@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

a {
  color: #007ACC;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 18.72px;
  font-size: 1.17rem;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  font-size: 13.28px;
  font-size: 0.83rem;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

input[type=text], input[type=email], input[type=password] {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000000;
}

button {
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.row {
  padding: 8px;
  width: 80%;
  margin: auto;
}

.fixed-on-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.fixed-on-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.fixed-on-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-header {
  width: 80%;
  margin: 24px auto 36px auto;
  color: #007ACC;
}
.login-header h1 {
  text-align: center;
}

.register-header {
  width: 80%;
  margin: 24px auto 36px auto;
  color: #007ACC;
}
.register-header h1 {
  text-align: center;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1201px) {
  .login-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .login-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .login-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .login-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .login-form-container {
    width: 85%;
  }
}

.login-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

.register-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1201px) {
  .register-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .register-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .register-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .register-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .register-form-container {
    width: 85%;
  }
}

.register-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

.update-profile-form-container {
  position: relative;
  margin: auto;
  height: 100%;
}
@media (min-width: 1201px) {
  .update-profile-form-container {
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .update-profile-form-container {
    width: 450px;
  }
}
@media (max-width: 900px) {
  .update-profile-form-container {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .update-profile-form-container {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .update-profile-form-container {
    width: 100%;
  }
}

.update-profile-form {
  background-color: #FFFFFF;
  border: 1px solid #C9C9CA;
  padding: 36px 24px;
  overflow: hidden;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.navigation-bar {
  height: 48px;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navigation-side-bar-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navigation-side-bar {
  width: 50%;
  height: 100vh;
  background-color: #007ACC;
}
@media (min-width: 1201px) {
  .navigation-side-bar {
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .navigation-side-bar {
    width: 250px;
  }
}
@media (max-width: 900px) {
  .navigation-side-bar {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .navigation-side-bar {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .navigation-side-bar {
    width: 80%;
  }
}
.navigation-side-bar .nav-menu .nav-item .nav-side-button {
  text-align: left;
  width: 100%;
  padding: 8px 36px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.map-navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 0 0;
}

.user-profile-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 48px 0 0 0;
  overflow: auto;
}

.ride-qr-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  border: 2px solid #C9C9CA;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: auto;
}

.user-qr-code-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  border: 2px solid #C9C9CA;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
}
.user-qr-code-container .user-display-name {
  text-align: center;
}
.user-qr-code-container .user-qr-code {
  margin: 16px auto;
  width: fit-content;
}
.user-qr-code-container .qr-details {
  display: inherit;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.navigation-menu-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}
.navigation-menu-button .svg-icon {
  color: #000000;
  fill: #000000;
}

.search-service-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
  cursor: pointer;
}
.search-service-button .svg-icon {
  color: #000000;
  fill: #000000;
}

.form-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}

.form-button-primary {
  background-color: #007ACC;
  border: 1px solid transparent;
  color: #FFFFFF;
}

.form-button-outlined {
  border: 1px solid #007ACC;
  color: #007ACC;
}

.close-nav-side-bar-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: transparent;
}
.close-nav-side-bar-button .svg-icon {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.nav-menu .nav-item .nav-side-button {
  border: none;
  outline: none;
  padding: 6px;
  background-color: transparent;
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF;
  border-bottom: 1px solid #C9C9CA;
}
.nav-menu .nav-item:nth-child(4) .nav-side-button {
  border-top: 1px solid #C9C9CA;
  border-bottom: 1px solid #C9C9CA;
}

.scan-qr-code-button {
  border: none;
  outline: none;
  padding: 12px;
  background-color: #007ACC;
  border: 1px solid transparent;
  color: #FFFFFF;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  align-items: center;
  margin: 24px auto;
}
@media (min-width: 1201px) {
  .scan-qr-code-button {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .scan-qr-code-button {
    width: 280px;
  }
}
@media (max-width: 900px) {
  .scan-qr-code-button {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .scan-qr-code-button {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .scan-qr-code-button {
    width: 80%;
  }
}
.scan-qr-code-button .svg-icon {
  flex-basis: 40px;
  color: #FFFFFF;
  fill: #FFFFFF;
}
.scan-qr-code-button .label {
  display: block;
  margin: auto;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.input-label {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
}

.form-input {
  padding: 8px 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}

.form-input-select {
  padding: 8px 4px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
.form-input-select option {
  padding: 3px 4px;
}

.whitespace {
  width: 100%;
  height: 30px;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.svg-icon {
  height: 24px;
  color: #000000;
  fill: #000000;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.brand-name-link {
  display: block;
}
.brand-name-link .brand-name-title {
  font-weight: 700;
  color: #007ACC;
  font-size: 24px;
  font-size: 1.5rem;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.display-user-name {
  padding: 8px 36px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
}
.display-user-name .user-avatar {
  width: 100px;
  height: 100px;
  margin: 16px auto;
  border: 1px solid #C9C9CA;
  border-radius: 50%;
}
.display-user-name .user-name {
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.login-page {
  width: 100%;
  height: 100vh;
  background-color: #EDEDED;
}

/** Font */
/** Alignment */
/** Element Position */
/** String Manipulation */
/** Display */
/** Borders */
/** Screen Size Resolution */
/** FONT */
/** FONT WEIGHT */
/** COLORS */
.home-page {
  width: 100%;
  height: 100vh;
  background-color: #EDEDED;
  overflow: auto;
}

/*# sourceMappingURL=index.css.map */
