@import '../abstracts/mixins';
@import '../abstracts/variables';

.map-navigation-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
}

.search-service-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.user-profile-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
    overflow: auto;
}

.ride-qr-code-container {
    @include full-center-on-page;
    border: 2px solid $border-color-gray;
    border-radius: 8px;
    width: 600px;
    height: fit-content;
    top: 40%;
    padding: 16px;

    @include for-screen-size-small {
        width: 80%;
    }

    .qr-details {
        display: inherit;
        text-align: center;
        @include font-size(14);
    }

    video {
        margin: 16px auto;
        width: 100% !important;
        height: auto !important;
    }
}

.user-qr-code-container {
    @include full-center-on-page;
    top: 40%;
    border: 2px solid $border-color-gray;
    border-radius: 8px;
    padding: 16px;
    width: 300px;

    .user-display-name, .user-display-plate-number, .user-display-department, .user-display-job-role {
        text-align: center;
    }

    .user-display-name {
        margin-bottom: 14px;
    }

    .user-display-plate-number {
        margin-bottom: 8px;
    }

    .user-display-department, .user-display-job-role {
        margin-bottom: 4px;
        font-weight: 300;
    }

    .user-qr-code {
        margin: 16px auto;
        width: fit-content;
    }

    .qr-details {
        display: inherit;
        text-align: center;
        @include font-size(14);
    }
}

.search-ride-query-input-container {
    position: relative;
    padding: 24px 16px;
    width: fit-content;

    @include for-screen-size-small {
        width: 60%;
    }
    @include for-screen-size-extra-small {
        width: 80%;
    }
    input {
        height: 24px;
        width: 150px;
        padding: 4px 24px 4px 4px;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        @include for-screen-size-small {
            width: 90%;
        }

    }
    svg {
        position: absolute;
        top: calc(50% - 8px);
        right: 22px;
        height: 14px;

        @include for-screen-size-small {
            right: 20px;
        }
    }
}
.search-ride-filters-container {
    padding: 0 8px;

    @include for-screen-size-small {
        width: fit-content;
    }

    @include for-screen-size-extra-small {
        width: fit-content;
    }

    @include for-screen-size-extra-large {
        display: flex;
        display: -webkit-flex;
    }
}

.search-ride-filter-by-avail-container, .search-ride-filter-by-days-container {
    padding: 0 0 16px 0;

    @include for-screen-size-extra-large {
        padding: 0;
    }

    h4 {
        @include font-size(13);
        margin-bottom: 6px;
        @include for-screen-size-small {
            text-align: center;
        }
    
        @include for-screen-size-extra-small {
            text-align: center;
        }
    }

    .options {
        @include display-flex-row--with-aligned-centered-vertically;

        @include for-screen-size-small {
            justify-content: center;
        }
    
        @include for-screen-size-extra-small {
            justify-content: center;
        }
        .option {
            @include display-flex-row--with-aligned-centered-vertically;
            margin-right: 8px;
            label {
                width: fit-content;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                @include font-size(12);
            }
        }
    }
}

.modal-no-results-found-container {
    @include full-center-on-page;
    @include font-size(16);
    font-weight: $font-weight-bold;
    letter-spacing: 1.5px;
}