@import '../abstracts/mixins';
@import '../abstracts/variables';

.map-navigation-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
}

.user-profile-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
    overflow: auto;
}

.user-qr-code-container {
    @include full-center-on-page;
    top: 40%;
    border: 2px solid $border-color-gray;
    border-radius: 8px;
    padding: 16px;
    width: 300px;

    .user-display-name {
        text-align: center;
    }

    .user-qr-code {
        margin: 16px auto;
        width: fit-content;
    }

    .qr-details {
        display: inherit;
        text-align: center;
        @include font-size(14);
    }
}