@import '../abstracts/mixins';
@import '../abstracts/variables';

.map-navigation-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
}

.user-profile-container {
    @include position-fixed-from-top;
    padding: 48px 0 0 0;
    overflow: auto;
}

.ride-qr-code-container {
    @include full-center-on-page;
    border: 2px solid $border-color-gray;
    border-radius: 8px;
    width: 600px;
    height: fit-content;
    top: 40%;
    padding: 16px;

    @include for-screen-size-small {
        width: 80%;
    }

    .qr-details {
        display: inherit;
        text-align: center;
        @include font-size(14);
    }

    video {
        margin: 16px auto;
        width: 100% !important;
        height: auto !important;
    }
}

.user-qr-code-container {
    @include full-center-on-page;
    top: 40%;
    border: 2px solid $border-color-gray;
    border-radius: 8px;
    padding: 16px;
    width: 300px;

    .user-display-name, .user-display-plate-number, .user-display-department, .user-display-job-role {
        text-align: center;
    }

    .user-display-name {
        margin-bottom: 14px;
    }

    .user-display-plate-number {
        margin-bottom: 8px;
    }

    .user-display-department, .user-display-job-role {
        margin-bottom: 4px;
        font-weight: 300;
    }

    .user-qr-code {
        margin: 16px auto;
        width: fit-content;
    }

    .qr-details {
        display: inherit;
        text-align: center;
        @include font-size(14);
    }
}