@import '../abstracts/mixins';
@import '../abstracts/variables';

.login-header {
    width: 80%;
    margin: 24px auto 36px auto;
    color: $font-color-blue-light;

    h1 {
        text-align: center;
    }
}