@import '../abstracts/mixins';
@import '../abstracts/variables';

.navigation-bar {
    height: 48px;
    background-color: $background-color-white;
    @include display-flex-row--with-aligned-centered-vertically;
    justify-content: space-between;
    z-index: 999;
}

.navigation-side-bar-container {
    position: fixed;
    background-color: $background-color-black-translucent;
    z-index: 1000;
}

.navigation-side-bar {
    width: 50%;
    height: 100vh;
    background-color: $background-color-blue-light;

    @include for-screen-size-extra-large {
        width: 250px
    }

    @include for-screen-size-large {
        width: 250px
    }

    @include for-screen-size-medium {
        width: 300px
    }

    @include for-screen-size-small {
        width: 350px;
    }

    @include for-screen-size-extra-small {
        width: 80%;
    }

    .nav-menu {
        .nav-item {
            .nav-side-button {
                text-align: left;
                width: 100%;
                padding: 8px 36px;
            }
        }
    }
}