.account-page-body-container {
    padding: 143px 0 0 0;
}
.profile-status-container {
    padding: 24px 24px 36px 24px;
}
.profile-status-container .container {
    width: 480px !important;
    padding: 0;
}
.profile-status-container .status-icon {
    margin-right: 24px;
    color: #006fc1;
}
.profile-status-container .status-details span {
    display: block;
}
.profile-status-container .status-points {
    font-weight: 700;
    color: #006fc1;
    font-size: 18px;
}
.profile-status-container .status-title {
    font-weight: 300;
    font-size: 0.875rem;
}


.account-menu-list-container {
    padding: 0 0 36px 0;
}
.account-menu-list-container .container {
    width: 480px !important;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #C0CED8;
    border-radius: 8px;
}
.account-menu-list-container .menu-list .menu-list-item {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc {
    text-align: left;
    font-size: 1rem;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc span {
    display: block;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #0060a7;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc .description {
    font-size: 0.875rem;
}
.account-menu-list-container .menu-list .menu-list-item .setting-icon .icon {
    color: #ffcd00;
    font-size: 1rem !important;
    margin: 8px 16px;
}


.my-trips-container .container {
    width: 480px !important;
    margin: auto;
}
.my-trips-container .tripHistory-list {
    padding-top: 60px;
}
.my-trips-container .tripHistory-list .material-icons-round:before {
    display: none;
}
.my-trips-container .tripHistory-list .material-icons-round {
    font-size: 10px !important;
    padding-right: 10px !important;
}
.my-trips-container .tripHistory-list>div {
    background: #fff;
    border-radius: 10px;
    padding: 25px 20px;
    margin: 25px 20px;
    box-shadow: 0 4px 24px rgb(0 0 0 / 18%);
}
.my-trips-container .tripHistory-list>div img {
    height: auto;
    width: 100%;
}
.my-trips-container .tripHistory-list>div {
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 20px 20px;
    box-shadow: 0 4px 24px rgb(0 0 0 / 18%);
}
.my-trips-container .time {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.my-trips-container .date {
    font-size: 16px;
    color: gray;
    line-height: 1.25em;
    padding-bottom: 15px;
}
.my-trips-container .whereTo {
    font-size: 16px;
    color: gray;
    line-height: 1.25em;
    margin-bottom: 15px;
}


.my-bookings-container .container {
    width: 480px !important;
    margin: auto;
}
.my-bookings-container .tripHistory-list {
    padding-top: 60px;
}
.my-bookings-container .tripHistory-list .material-icons-round:before {
    display: none;
}
.my-bookings-container .tripHistory-list .material-icons-round {
    font-size: 10px !important;
    padding-right: 10px !important;
}
.my-bookings-container .tripHistory-list>div {
    background: #fff;
    border-radius: 10px;
    padding: 25px 20px;
    margin: 25px 20px;
    box-shadow: 0 4px 24px rgb(0 0 0 / 18%);
}
.my-bookings-container .tripHistory-list>div img {
    height: auto;
    width: 100%;
}
.my-bookings-container .tripHistory-list>div {
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 20px 20px;
    box-shadow: 0 4px 24px rgb(0 0 0 / 18%);
}
.my-bookings-container .time {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.my-bookings-container .date {
    font-size: 16px;
    color: gray;
    line-height: 1.25em;
    padding-bottom: 15px;
}
.my-bookings-container .whereTo {
    font-size: 16px;
    color: gray;
    line-height: 1.25em;
    margin-bottom: 15px;
}