@media only screen and (max-width: 600px) {
    .profile-status-container .container {
        width: 80% !important;
    }
}
@media only screen and (max-width: 480px) {
    .profile-status-container .status-icon {
        margin-right: 12px;
        font-size: 1rem;
    }
    .profile-status-container .status-points {
        font-size: 0.875rem;
    }
    .profile-status-container .status-title {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 320px) {
    .account-page-container {
        padding: 95px 0 0 0;
    }
    .profile-status-container {
        padding: 24px 0 36px 0;
    }
}