.account-page-body-container {
    padding: 143px 0 0 0;
}
.profile-status-container {
    padding: 24px 24px 36px 24px;
}
.profile-status-container .container {
    width: 480px !important;
    padding: 0;
}
.profile-status-container .status-icon {
    margin-right: 24px;
    color: #006fc1;
}
.profile-status-container .status-details span {
    display: block;
}
.profile-status-container .status-points {
    font-weight: 700;
    color: #006fc1;
    font-size: 18px;
}
.profile-status-container .status-title {
    font-weight: 300;
    font-size: 0.875rem;
}


.account-menu-list-container {
    padding: 0 0 75px 0;
}
.account-menu-list-container .container {
    width: 480px !important;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #C0CED8;
    border-radius: 8px;
}
.account-menu-list-container .menu-list .menu-list-item {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc {
    text-align: left;
    font-size: 1rem;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc span {
    display: block;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #0060a7;
}
.account-menu-list-container .menu-list .menu-list-item .setting-desc .description {
    font-size: 0.875rem;
}
.account-menu-list-container .menu-list .menu-list-item .setting-icon .icon {
    color: #fee014;
    font-size: 1rem !important;
    margin: 8px 16px;
}


.my-trips-container .container {
    width: 480px !important;
    margin: auto;
}
.my-trips-container .tripHistory-list {
    padding-top: 60px;
}
.my-trips-container .tripHistory-list .material-icons-round:before {
    display: none;
}
.my-trips-container .tripHistory-list .material-icons-round {
    font-size: 10px !important;
    padding-right: 10px !important;
}
.my-trips-container .tripHistory-list>div {
    background: #fff;
    border-radius: 8px;
    padding: 25px 20px;
    margin: 25px 20px;
}
.my-trips-container .tripHistory-list>div img {
    height: auto;
    width: 100%;
}
.my-trips-container .tripHistory-list>div {
    background: #fff;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 20px 20px;
}
.my-trips-container .heading {
    line-height: normal;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}
.my-trips-container .datetime {
    line-height: normal;
    font-size: 0.75rem;
}
.my-trips-container .destination {
    line-height: normal;
    font-size: 0.875rem;
    margin: 8px 0 0 0;
}
.my-trips-container .seat-number {
    line-height: normal;
    font-size: 0.75rem;
    margin: 0;
}
.my-trips-container .status {
    line-height: normal;
    font-size: 0.625rem;
    color: #ffffff;
    width: 75px;
    text-align: center;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 8px;
    margin-right: 8px;
}


.my-bookings-container .container {
    width: 480px !important;
    margin: auto;
}
.my-bookings-container .tripHistory-list {
    padding-top: 60px;
}
.my-bookings-container .tripHistory-list .material-icons-round:before {
    display: none;
}
.my-bookings-container .tripHistory-list .material-icons-round {
    font-size: 10px !important;
    padding-right: 10px !important;
}
.my-bookings-container .tripHistory-list>div {
    background: #fff;
    border-radius: 8px;
    padding: 25px 20px;
    margin: 25px 20px;
}
.my-bookings-container .tripHistory-list>div img {
    height: auto;
    width: 100%;
}
.my-bookings-container .tripHistory-list>div {
    background: #fff;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 20px 20px;
}

.my-bookings-container .heading {
    line-height: normal;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}
.my-bookings-container .datetime {
    line-height: normal;
    font-size: 0.75rem;
}
.my-bookings-container .destination {
    line-height: normal;
    font-size: 0.875rem;
    margin: 8px 0 0 0;
}
.my-bookings-container .seat-number {
    line-height: normal;
    font-size: 0.75rem;
    margin: 0;
}
.my-bookings-container .booked-by {
    line-height: normal;
    font-size: 0.75rem;
    margin: 8px 0 0 0;
}
.my-bookings-container .status {
    line-height: normal;
    font-size: 0.625rem;
    color: #ffffff;
    width: 75px;
    text-align: center;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 8px;
    margin-right: 8px;
}

.settings-container .container {
    width: 380px !important;
    margin: auto;
    margin-top: 30px;
}
.settings-container .settings-form {
    padding-top: 60px;
}
.settings-container .settings-form h4 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 8px;
}
.settings-container .settings-form .input-field {
    width: 100%;
    margin: 8px auto;
}
.settings-container .settings-form .form-button {
    width: 320px !important;
    margin: 8px auto;
}
.settings-container .settings-form .form-button button {
    width: 80%;
}

.settings-container .settings-form .address-confirm-button {
    width: 60%;
    margin: auto;
    border-radius: 24px;
}
.settings-container .settings-form .address-field-change-button {
    padding: 16px 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(206, 212, 218);
}
.settings-container .settings-form .address-field-change-button span {
    display: block;
    text-align: left;
}
.settings-container .settings-form  .address-field-change-button span.details {
    flex-grow: 1;
    overflow: hidden;
}
.settings-container .settings-form .address-field-change-button span.icon {
    font-size: 1.25rem;
    padding: 0 18px;
}
.settings-container .settings-form .address-field-change-button span.landmark-label {
    font-size: 1.25rem;
    word-wrap: break-word;
}
.settings-container .settings-form  .address-field-change-button span.address-label {
    font-size: 0.875rem;
}