@media only screen and (max-width: 600px) {
    .profile-status-container .container {
        width: 80% !important;
    }

    .account-menu-list-container .container {
        width: 80% !important;
    }

    .my-trips-container .container {
        width: 100% !important;
        padding: 60px 0 0 0;
    }

    .my-bookings-container .container {
        width: 100% !important;
        padding: 60px 0 0 0;
    }
}
@media only screen and (max-width: 480px) {
    .account-menu-list-container .menu-list .menu-list-item {
        padding: 8px 0;
    }
    .account-menu-list-container .menu-list .menu-list-item .setting-icon .icon {
        margin: 4px 8px;
    }
    .account-menu-list-container .menu-list .menu-list-item .setting-desc .title {
        font-size: 0.875rem;
    }
    .account-menu-list-container .menu-list .menu-list-item .setting-desc .description {
        font-size: 0.75rem;
    }

    .profile-status-container .status-icon {
        margin-right: 12px;
        font-size: 1rem;
    }
    .profile-status-container .status-points {
        font-size: 0.875rem;
    }
    .profile-status-container .status-title {
        font-size: 0.75rem;
    }

    .my-trips-container .container {
        width: 100% !important;
    }
    .my-trips-container .whereTo {
        font-size: 0.875rem;
        line-height: normal;
        margin-bottom: 8px;
    }

    .my-bookings-container .container {
        width: 100% !important;
    }
    .my-bookings-container .time {
        font-size: 1.25rem;
        margin-top: 5px;
    }
    .my-bookings-container .date {
        font-size: 0.875rem;
        line-height: normal;
        padding-bottom: 8px;
    }
    .my-bookings-container .whereTo {
        font-size: 0.875rem;
        line-height: normal;
        margin-bottom: 8px;
    }
}
@media only screen and (max-width: 320px) {
    .account-page-body-container {
        padding: 95px 0 0 0;
    }

    .profile-status-container {
        padding: 24px 0 36px 0;
    }

    .my-trips-container .header {
        margin-bottom: 4px;
    }
    .my-trips-container .heading {
        font-size: 0.875rem;
    }
    .my-trips-container .datetime {
        font-size: 0.625rem;
    }
    .my-trips-container .destination {
        font-size: 0.75rem;
    }
    .my-trips-container .seat-number {
        font-size: 0.625rem;
    }
    .my-trips-container .status {
        width: fit-content;
    }

    .my-bookings-container .header {
        margin-bottom: 4px;
    }
    .my-bookings-container .heading {
        font-size: 0.875rem;
    }
    .my-bookings-container .datetime {
        font-size: 0.625rem;
    }
    .my-bookings-container .destination {
        font-size: 0.75rem;
    }
    .my-bookings-container .seat-number {
        font-size: 0.625rem;
    }
    .my-bookings-container .booked-by {
        font-size: 0.625rem;
    }
    .my-bookings-container .status {
        width: fit-content;
    }
}