@media only screen and (max-width: 991px) {
    /** CARPOOL */
    .carpool-rides-list .item .details {
        text-align: center;
    }
}
@media only screen and (max-width: 1080px) {
    /** CARPOOL */
    .carpool-rides-list .item .main-details .icon {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    /** CARPOOL */
    .carpool-ride-list-container .navigate-container {
        bottom: 0;
    }
    .carpool-ride-list-container .driver-pool-results .container {
        width: 80% !important;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .container {
        width: 80% !important;
    }
    .on-trip-container .container {
        width: 80% !important;
    }
    .on-trip-driver-container .container {
        width: 80% !important;
    }
    .share-a-ride-container .navigate-container {
        bottom: 0;
    }
    .share-a-ride-container .navigate-container .container {
        width: 350px !important;
    }
}
@media only screen and (max-width: 480px) {
    /** BOTTOM NAVBAR */
    .carpool-tab-button,
    .shuttle-tab-button,
    .user-account-tab-button {
        font-size: 12px;
    }
    /** CARPOOL */
    .option-buttons {
        width: 80%;
        margin: auto;
    }
    .carpool-ride-list-container .navigate-container {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .navigate-container .btn {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .navigate-container .container {
        width: 90% !important;
    }
    .carpool-ride-list-container .address-field-change-button {
        padding: 10px 0;
    }
    .update-new-address-container .container {
        width: 380px !important;
    }
    .carpool-ride-list-container .driver-pool-results .container {
        width: 100% !important;
        padding: 0;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .container {
        width: 100% !important;
        padding: 0;
    }
    .on-trip-container {
        padding: 15px;
    }
    .on-trip-container .container {
        width: 100% !important;
        padding: 0;
    }
    .show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar-container {
        height: 30px;
        width: 30px;
    }
    .carpool-ride-list-container .navigate-container .btn {
        font-size: 0.75rem;
    }
    .carpool-rides-list .item .main-details .icon {
        font-size: 2rem;
    }
    .carpool-rides-list {
        padding: 0;
        margin: 0;
    }
    .share-a-ride-container .navigate-container {
        font-size: 0.75rem;
    }
    .share-a-ride-container .navigate-container .btn {
        font-size: 0.75rem;
    }
    .share-a-ride-container .navigate-container .container {
        width: 90% !important;
    }
    .share-a-ride-container .address-field-change-button {
        padding: 10px 0;
    }
    .on-trip-driver-container .driver-trip-buttons-container .container {
        width: 100% !important;
        padding: 0;
    }
    .on-trip-driver-container .container {
        width: 100% !important;
        padding: 0;
    }
    .on-trip-driver-container .driver-trip-buttons-container .container {
        width: 240px !important;
    }
    .carpool-container .more-carpool-buttons button {
        font-size: 0.75rem;
    }
    .create-trip-container .container {
        width: 300px !important;
        padding: 0;
    }
    .scan-qr-carpool-button,
    .submit-vehicle-id-button,
    .carpool-vehicle-id-input  {
        width: 80% !important;
    }
    .scan-qr-to-ride-reader  {
        width: 350px;
    }

    .carpool-on-booking-container .current-booking-item {
        width: 300px;
    }
    .create-trip-container .address-confirm-button {
        width: 80%;
    }
    .create-trip-container .address-remove-button {
        width: 80%;
    }
    .update-new-address-container .new-address-confirm-button {
        width: 80%;
    }
}
@media only screen and (max-width: 320px) {
    /** BOTTOM NAVBAR */
    .main-bottom-navbar .carpool-tab-button,
    .main-bottom-navbar .shuttle-tab-button,
    .main-bottom-navbar .user-account-tab-button {
        font-size: 0.75rem;
    }
    .main-bottom-navbar .carpool-tab-button i,
    .main-bottom-navbar .shuttle-tab-button i,
    .main-bottom-navbar .user-account-tab-button i {
        font-size: 0.875rem;
    }
    /** CARPOOL */
    .option-buttons {
        width: 95%;
        margin: auto;
    }
    .carpool-ride-list-container .navigate-container .container {
        width: 95% !important;
        padding: 0;
    }
    .carpool-ride-list-container .driver-pool-results {
        padding: 50px 0;
    }
    .carpool-ride-list-container .driver-pool-results .avatar-container {
        height: 45px;
    }
    .carpool-ride-list-container .driver-pool-results .carpool-driver-to-choose-button span {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .driver-pool-results .carpool-driver-to-choose-button .h6{
        font-size: 0.875rem;
    }
    .carpool-on-booking-container .current-booking-item {
        width: 250px;
    }
    .carpool-on-booking-container .current-booking-item .header {
        margin-bottom: 4px;
    }
    .share-a-ride-container .navigate-container .container {
        width: 95% !important;
        padding: 0;
    }
    .update-new-address-container .container {
        width: 100% !important;
        padding: 0;
    }
    .create-trip-container .container {
        width: 100% !important;
        padding: 0;
    }
    .on-trip-driver-container .driver-trip-buttons-container .container {
        width: 200px !important;
    }
    .create-trip-container .address-field-change-button span.landmark-label {
        font-size: 1rem;
    }
    .create-trip-container .address-field-change-button span.address-label {
        font-size: 0.75rem;
    }
    .carpool-ride-list-container .address-field-change-button span.landmark-label {
        font-size: 1rem;
    }
    .carpool-ride-list-container .address-field-change-button span.address-label {
        font-size: 0.75rem;
    }
    .share-a-ride-container .address-field-change-button span.landmark-label {
        font-size: 1rem;
    }
    .share-a-ride-container .address-field-change-button span.address-label {
        font-size: 0.75rem;
    }
}