/** CARPOOL PAGES CONTAINER */
.carpool-page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/sample/bg-road-map-gray.jpeg');
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -999;
}

.carpool-container,
.shuttle-container,
.user-account-container,
.update-new-address-container {
    display: none;
    padding: 0 !important;
}
.tab-page-active {
    display: block;
}
.update-new-address-container .container {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}


/** CARPOOL - FIND POOL */
.carpool-container .more-carpool-buttons {
    width: fit-content;
    background-color: #f9eec0;
    border-radius: 18px;
    overflow: hidden;
    height: 38px;
    position: fixed;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carpool-container .more-carpool-buttons button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    font-size: 0.875rem;
    font-weight: 700;
    width: 120px;
}
.carpool-container .more-carpool-buttons .active-tab-button {
    background-color: #fee014;
}
#carpool-bing-map {
    position: relative;
    width: 100%;
    height: 100%;
}
.scan-qr-carpool-button {
    position: fixed;
    width: 250px;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carpool-vehicle-id-input {
    width: 250px !important;
    margin: auto;
}
.submit-vehicle-id-button {
    width: 250px !important;
    margin: auto;
}
.carpool-main-page,
.carpool-scan-to-ride-page,
.carpool-ride-list-container,
.share-a-ride-container,
.on-trip-driver-container {
    height: 100%;
}
.carpool-scan-to-ride-page,
.carpool-ride-list-container,
.on-trip-driver-container {
    padding: 20px;
}
.carpool-scan-to-ride-page,
.on-trip-driver-container {
    background-color: #F7F7F7;
}
.scan-qr-to-ride-reader {
    width: 450px;
    margin: 0 auto;
}
.carpool-rides-list .item {
    background-color: #f7f7f7;
    margin: 16px 0;
    padding: 16px 8px;
    border-radius: 16px;
}
.carpool-rides-list .item .details span {
    display: block;
}
.carpool-rides-list .item .details {
    margin: 8px 0;
}
.carpool-rides-list .item .details .label {
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.carpool-rides-list .item .main-details .icon {
    font-size: 4rem;
}
.carpool-rides-list .item .pick-up-location-link {
    text-decoration: none;
    margin-left: 8px;
}
.carpool-rides-list .item .pick-up-location-link:hover {
    text-decoration: underline;
}
.carpool-ride-list-container .navigate-container {
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    border-top: 1px solid #C0CED8;
    padding: 40px 20px 60px 20px;
    z-index: 1;
    max-height: 60vh;
}
.carpool-ride-list-container .navigate-container .container {
    width: 400px !important;
}
.carpool-ride-list-container .navigate-container .find-carpool-address-list {
    height: 50vh;
    overflow: auto;
    padding-bottom: 60px;
}
.carpool-ride-list-container .driver-pool-results {
    padding: 60px 0;
}
.carpool-ride-list-container .driver-pool-results .container {
    width: 480px !important;
}
.carpool-ride-list-container .driver-pool-results .avatar-container {
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
}
.carpool-ride-list-container .driver-pool-results .avatar {
    height: 100%;
}
.carpool-ride-list-container .driver-pool-results .carpool-driver-to-choose-button {
    border-radius: 8px;
    padding: 16px 8px;
    margin-bottom: 16px;
}
.carpool-ride-list-container .driver-pool-results .carpool-driver-to-choose-button .h6{
    font-weight: 700;
}
.carpool-ride-list-container .address-field-change-button {
    padding: 10px 0;
}
.carpool-ride-list-container .address-field-change-button span {
    display: block;
    text-align: left;
}
.carpool-ride-list-container .address-field-change-button span.details {
    flex-grow: 1;
    overflow: hidden;
}
.carpool-ride-list-container .address-field-change-button span.icon {
    font-size: 1.25rem;
    padding: 0 18px;
}
.carpool-ride-list-container .address-field-change-button span.landmark-label {
    font-size: 1.25rem;
    word-wrap: break-word;
}
.carpool-ride-list-container .address-field-change-button span.address-label {
    font-size: 0.875rem;
}
.carpool-ride-list-container .address-field-change-button-group button {
    margin: 0 0 16px 0; 
}
.show-confirm-carpool-driver-container {
    height: 85vh;
}
.show-confirm-carpool-driver-container .offcanvas-body {
    overflow: auto;
}
.show-confirm-carpool-driver-container .offcanvas-body .container {
    width: 380px !important;
    padding: 0;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-header .avatar-container {
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-header .avatar {
    height: 100%;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-header .carpool-driver-to-choose-button {
    border-radius: 8px;
    padding: 16px 8px;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-header .h6 {
    font-size: 1rem;
    font-weight: 700;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 6px;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar {
    height: 100%;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar-name {
    font-size: 0.75rem;
    text-align: center;
    font-weight: 700;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-passengers .avatar-name-unavailable {
    color: #cccccc !important;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-others h6 {
    font-size: 0.75rem;
    margin-bottom: 3px;
    color: #cccccc;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-others p {
    font-size: 0.875rem;
    margin: 0;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-others a {
    font-size: 0.875rem;
    text-decoration: none;
}
.show-confirm-carpool-driver-container .offcanvas-body .driver-info-others a:hover {
    text-decoration: underline;
}
.option-buttons {
    width: 80%;
    margin: auto;
}
.on-trip-container {
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 56px;
    border-top: 1px solid #C0CED8;
    padding: 20px;
    z-index: 1;
}
.on-trip-container .container {
    height: 100%;
    width: 480px !important;
    padding: 0;
}
.on-trip-container .driver-info-header .avatar-container {
    height: 50px;
    overflow: hidden;
    border-radius: 8px;
}
.on-trip-container .driver-info-header .avatar {
    height: 100%;
}
.trip-completed-container {
    height: 100%;
}
.trip-completed-container h2 {
    margin: 0;
    margin-bottom: 8px;
}
.trip-completed-container p {
    color: #cccccc;
    font-weight: 700;
    font-size: 1rem;
}
.trip-completed-container button {
    border-radius: 24px;
    width: 234px;
}
.carpool-on-booking-container {
    height: 100%;
}
.carpool-on-booking-container .current-booking-item {
    width: 320px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 15px 20px;
    cursor: pointer;
}
.carpool-on-booking-container .current-booking-item .heading {
    line-height: normal;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}
.carpool-on-booking-container .current-booking-item .datetime {
    line-height: normal;
    font-size: 0.75rem;
}
.carpool-on-booking-container .current-booking-item .destination {
    line-height: normal;
    font-size: 0.875rem;
    margin: 8px 0 0 0;
}
.carpool-on-booking-container .current-booking-item .seat-number {
    line-height: normal;
    font-size: 0.75rem;
    margin: 0;
}
.carpool-on-booking-container .current-booking-item .status {
    line-height: normal;
    font-size: 0.625rem;
    width: 75px;
    text-align: center;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 8px;
    margin-right: 8px;
}

/** CARPOOL - SHARE A RIDE */
.share-a-ride-container .navigate-container {
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    border-top: 1px solid #C0CED8;
    padding: 40px 20px 60px 20px;
    z-index: 1;
    max-height: 60vh;
}
.share-a-ride-container .navigate-container .share-carpool-address-list {
    height: 50vh;
    overflow: auto;
    padding-bottom: 60px;
}
.share-a-ride-container .navigate-container .container {
    width: 380px !important;
}
.share-a-ride-container .address-field-change-button {
    padding: 10px 0;
}
.share-a-ride-container .address-field-change-button span {
    display: block;
    text-align: left;
}
.share-a-ride-container .address-field-change-button span.details {
    flex-grow: 1;
    overflow: hidden;
}
.share-a-ride-container .address-field-change-button span.icon {
    font-size: 1.25rem;
    padding: 0 18px;
}
.share-a-ride-container .address-field-change-button span.landmark-label {
    font-size: 1.25rem;
    word-wrap: break-word;
}
.share-a-ride-container .address-field-change-button span.address-label {
    font-size: 0.875rem;
}
.share-a-ride-container .address-field-change-button-group button {
    margin: 0 0 16px 0; 
}

.create-trip-container {
    background-color: #f7f7f7;
    padding: 50px 20px 20px 20px;
    height: 100%;
}
.create-trip-container .container {
    width: 380px !important;
    margin-top: 30px;
}
.create-trip-container h4 {
    font-weight: 700;
    font-size: 1.25rem;
}
.create-trip-container .create-trip-button {
    margin: 24px 0;
    width: 100%;
}
.create-trip-container .address-field-change-button {
    padding: 16px 0;
    width: 100%;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.create-trip-container .address-field-change-button span {
    display: block;
    text-align: left;
}
.create-trip-container .address-field-change-button span.details {
    flex-grow: 1;
    overflow: hidden;
}
.create-trip-container .address-field-change-button span.icon {
    font-size: 1.25rem;
    padding: 0 18px;
}
.create-trip-container .address-field-change-button span.landmark-label {
    font-size: 1.25rem;
    word-wrap: break-word;
}
.create-trip-container .address-field-change-button span.address-label {
    font-size: 0.875rem;
}
.create-trip-container .address-field-change-button-group button {
    margin: 0 0 16px 0; 
}
.create-trip-container .address-confirm-button {
    width: 60%;
    margin: 8px auto;
}
.create-trip-container .address-remove-button {
    width: 60%;
    margin: 8px auto;
}

.update-new-address-container .new-address-confirm-button {
    width: 60%;
    margin: 8px auto;
}

.on-trip-driver-container .container {
    width: 480px !important;
}
.on-trip-driver-container .driver-trip-booking-list {
    padding-bottom: 200px;
    padding: 0 12px 200px 12px;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant {
    display: flex; height: 60px; margin-bottom: 8px; border-radius: 8px; border: 1px solid #eaeaea; background-color: #eaeaea;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant .on-driver-trip-rider {
    flex-grow: 4;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant .on-driver-trip-rider-name {
    padding: 10px 0 0 16px; margin: 0; line-height: 1em; font-size: 1.2rem; font-weight: bold; color: #929292;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant .on-driver-trip-rider-location {
    padding: 0 0 0 16px; margin: 0; line-height: 1.1em; font-size: 0.8rem; color: #929292;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant .on-driver-trip-booking-status {
    flex-grow: 1; display: flex; justify-content: flex-end; margin: 10px 10px 0 0;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-vacant .on-driver-trip-booking-status p {
    background-color: #d9d9d9; padding: 0; border-radius: 10px; width: 100px; height: 18px; text-align: center; font-size: 0.7em; color: #929292;
}

.on-trip-driver-container .driver-trip-booking-list .list-item {
    display: flex; height: 60px; margin-bottom: 8px; border-radius: 8px; border: 1px solid #dfdfdf; background-color: #dfdfdf;
}

.on-trip-driver-container .driver-trip-booking-list .list-item .on-driver-trip-rider {
    flex-grow: 4;
}

.on-trip-driver-container .driver-trip-booking-list .list-item .on-driver-trip-rider-name {
    padding: 10px 0 0 16px; margin: 0; line-height: 1em; font-size: 1.2rem; font-weight: bold; 
}

.on-trip-driver-container .driver-trip-booking-list .list-item .on-driver-trip-rider-location {
    padding: 0 0 0 16px; margin: 0; line-height: 1.1em; font-size: 0.8rem;
}

.on-trip-driver-container .driver-trip-booking-list .list-item .on-driver-trip-booking-status {
    flex-grow: 1; display: flex; justify-content: flex-end; margin: 10px 10px 0 0;
}

.on-trip-driver-container .driver-trip-booking-list .list-item .on-driver-trip-booking-status p {
    background-color: #c6c6c6; padding: 0; border-radius: 10px; width: 100px; height: 18px; text-align: center; font-size: 0.7em;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed {
    display: flex; height: 60px; margin-bottom: 8px; border-radius: 8px; border: 1px solid #05a5df; background-color: #05a5df;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed .on-driver-trip-rider {
    flex-grow: 4;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed .on-driver-trip-rider-name {
    padding: 10px 0 0 16px; margin: 0; line-height: 1em; font-size: 1.2rem; font-weight: bold; color: #fff; 
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed .on-driver-trip-rider-location {
    padding: 0 0 0 16px; margin: 0; line-height: 1.1em; font-size: 0.8rem; color: #fff; 
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed .on-driver-trip-booking-status {
    flex-grow: 1; display: flex; justify-content: flex-end; margin: 10px 10px 0 0;
}

.on-trip-driver-container .driver-trip-booking-list .list-item-confirmed .on-driver-trip-booking-status p {
    background-color: #fff; padding: 0; border-radius: 10px; width: 100px; height: 18px; text-align: center; font-size: 0.7em;
}

.on-trip-driver-container .driver-trip-buttons-container {
    padding: 20px 20px 10px 20px;
    background-color: #F7F7F7;
}
.on-trip-driver-container .driver-trip-buttons-container .container {
    width: 320px !important;
}
.on-trip-driver-container .driver-trip-buttons button {
    margin: 0 0 16px 0;
}