.index-page-container .container {
    width: 480px !important;
    min-height: 100vh;
    background-color: #FFFFFF;
}

/** LOGIN PAGE */
.index-page-container .login-header {
    background-image: url('../../images/sample/login-header.png');
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
}
.index-page-container .login-form-container {
    background-color: #ffffff;
    padding: 24px 36px;
}
.index-page-container .login-form {
    width: 80%;
    margin: auto;
}
.index-page-container .login-form .login-pin-code-input-label {
    font-weight: 700;
    margin: 0 0 8px 0;
}
.index-page-container .login-form .login-pin-code-input {
    width: 100%;
}
.index-page-container .login-form .login-button,
.index-page-container .login-form .sign-up-view-button {
    width: 80%;
    margin: auto;
    border-radius: 24px;
}

/** REGISTER PAGE */
.index-page-container .sign-up-header {
    position: relative;
    background-color: #fee014;
    width: 100%;
    height: 120px;
    padding: 16px 8px;
}
.index-page-container .sign-up-header .back-to-login-view-button i {
    color: #373737 !important;
}
.index-page-container .sign-up-header .page-title {
    color: #373737 !important;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.index-page-container .sign-up-form-container {
    background-color: #ffffff;
    padding: 24px 36px;
}
.index-page-container .sign-up-form {
    width: 80%;
    margin: auto;
}
.index-page-container .sign-up-form label {
    font-weight: 700;
    margin: 0 0 8px 0;
}
.index-page-container .sign-up-form input[type=text]{
    width: 100%;
}
.index-page-container .sign-up-form .sign-up-button {
    width: 80%;
    margin: auto;
    border-radius: 24px;
}
.index-page-container .sign-up-form .address-confirm-button {
    width: 60%;
    margin: auto;
    border-radius: 24px;
}
.index-page-container .sign-up-form .address-field-change-button {
    padding: 16px 0;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(206, 212, 218);
}
.index-page-container .sign-up-form .address-field-change-button span {
    display: block;
    text-align: left;
}
.index-page-container .sign-up-form .address-field-change-button span.details {
    flex-grow: 1;
    overflow: hidden;
}
.index-page-container .sign-up-form .address-field-change-button span.icon {
    font-size: 1.25rem;
    padding: 0 18px;
}
.index-page-container .sign-up-form .address-field-change-button span.landmark-label {
    font-size: 1.25rem;
    word-wrap: break-word;
}
.index-page-container .sign-up-form .address-field-change-button span.address-label {
    font-size: 0.875rem;
}


.welcome-rems {
    padding-bottom: 24px;
}
.welcome-rems .pagename {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    color: #2472ba;
}
.welcome-rems .pagedescription {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 0px;
    font-weight: 700;
}