@import '../abstracts/mixins';
@import '../abstracts/variables';

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.navigation-menu-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-transparent;

    .svg-icon {
        color: $font-color-black;
        fill: $font-color-black;
    }
}

.search-service-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-transparent;
    cursor: pointer;

    .svg-icon {
        color: $font-color-black;
        fill: $font-color-black;
    }
}

.form-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-transparent;
}

.form-button-primary {
    background-color: $background-color-blue-light;
    border: 1px solid $border-color-transparent;
    color: $font-color-white;
}

.form-button-primary:disabled {
    background-color: $background-color-blue-light-translucent;
}

.form-button-outlined {
    border: 1px solid $background-color-blue-light;
    color: $font-color-blue-light;
}

.form-button-outlined:disabled {
    border: 1px solid $background-color-blue-light-translucent;
    color: $font-color-blue-light-translucent;
}

.close-nav-side-bar-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-transparent;

    .svg-icon {
        color: $font-color-white;
        fill: $font-color-white;
    }
}

.close-search-service-modal-button {
    @include borderless-element;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    background-color: $background-color-transparent;

    .svg-icon {
        color: $font-color-black;
        fill: $font-color-black;
    }
}

.nav-menu {
    .nav-item {
        .nav-side-button {
            border: none;
            outline: none;
            padding: 6px;
            background-color: $background-color-transparent;
            @include font-size(16);
            color: $font-color-white;
            border-bottom: 1px solid $border-color-gray;
        }

        &:nth-child(4)  {
            .nav-side-button {
                border-top: 1px solid $border-color-gray;
                border-bottom: 1px solid $border-color-gray;
            }
        }
    }
}

.scan-qr-code-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-blue-light;
    border: 1px solid $border-color-transparent;
    color: $font-color-white;
    @include display-flex-row--with-aligned-centered-vertically;
    margin: 24px auto;

    @include for-screen-size-extra-large {
        width: 250px
    }

    @include for-screen-size-large {
        width: 280px;
    }

    @include for-screen-size-medium {
        width: 300px
    }

    @include for-screen-size-small {
        width: 60%;
    }

    @include for-screen-size-extra-small {
        width: 80%;
    }

    .svg-icon {
        flex-basis: 40px;
        color: $font-color-white;
        fill: $font-color-white;
    }

    .label {
        display: inline;
        margin: auto;
    }

    &:disabled {
        background-color: $background-color-blue-light-translucent;
    }
}

.stop-scan-qr-code-button {
    @include borderless-element;
    padding: 12px;
    background-color: $background-color-blue-light;
    border: 1px solid $border-color-transparent;
    color: $font-color-white;
    @include display-flex-row--with-aligned-centered-vertically;
    margin: 24px auto;

    @include for-screen-size-extra-large {
        width: 250px
    }

    @include for-screen-size-large {
        width: 280px;
    }

    @include for-screen-size-medium {
        width: 300px
    }

    @include for-screen-size-small {
        width: 60%;
    }

    @include for-screen-size-extra-small {
        width: 80%;
    }

    .svg-icon {
        flex-basis: 40px;
        color: $font-color-white;
        fill: $font-color-white;
    }

    .label {
        display: inline;
        margin: auto;
    }

    &:disabled {
        background-color: $background-color-blue-light-translucent;
    }
}