@import '../abstracts/mixins';
@import '../abstracts/variables';

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.navigation-menu-button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: $background-color-transparent;

    .svg-icon {
        color: $font-color-black;
        fill: $font-color-black;
    }
}

.search-service-button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: $background-color-transparent;
    cursor: pointer;

    .svg-icon {
        color: $font-color-black;
        fill: $font-color-black;
    }
}

.form-button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: $background-color-transparent;
}

.form-button-primary {
    background-color: $background-color-blue-light;
    border: 1px solid $border-color-transparent;
    color: $font-color-white;
}

.form-button-outlined {
    border: 1px solid $background-color-blue-light;
    color: $font-color-blue-light;
}

.close-nav-side-bar-button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: $background-color-transparent;

    .svg-icon {
        color: $font-color-white;
        fill: $font-color-white;
    }
}

.nav-menu {
    .nav-item {
        .nav-side-button {
            border: none;
            outline: none;
            padding: 6px;
            background-color: $background-color-transparent;
            @include font-size(16);
            color: $font-color-white;
            border-bottom: 1px solid $border-color-gray;
        }

        &:nth-child(4)  {
            .nav-side-button {
                border-top: 1px solid $border-color-gray;
                border-bottom: 1px solid $border-color-gray;
            }
        }
    }
}