@import '../abstracts/mixins';
@import '../abstracts/variables';

.display-user-name {
    padding: 8px 36px;
    color: $font-color-white;
    @include truncate-string;
    @include display-flex-coluimn--with-aligned-centered-horizontally;

    .user-avatar {
        width: 100px;
        height: 100px;
        margin: 16px auto;
        border: 1px solid $border-color-gray;
        border-radius: 50%;
    }

    .user-name {
        color: $font-color-white;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-align: center;
        @include font-size(12);
    }
}