@import '../abstracts/mixins';
@import '../abstracts/variables';

.input-label {
    @include font-size(12);
    font-weight: $font-weight-bold;
}

.form-input {
    padding: 8px 4px;
    @include borderless-element;
    border-bottom: 1px solid $font-color-black;
}

.form-input-select {
    padding: 8px 4px;
    @include borderless-element;
    border-bottom: 1px solid $font-color-black;
    option {
        padding: 3px 4px;
    }
}