/** BOTTOM NAVBAR */
.main-bottom-navbar {
    background-color: #FFFFFF;
    border-top: 1px solid #C0CED8;
    position: fixed;
    width: 100%;
    height: 56px;
    bottom: 0;
    left: 0;
    right: 0;
}
.main-bottom-navbar .carpool-tab-button,
.main-bottom-navbar .shuttle-tab-button,
.main-bottom-navbar .user-account-tab-button {
    width: 156px;
    color: #373737;
    font-size: 0.875rem;
    cursor: pointer;
    text-decoration: none;
    padding: 9.5px 8px;
}
.main-bottom-navbar .carpool-tab-button i,
.main-bottom-navbar .shuttle-tab-button i,
.main-bottom-navbar .user-account-tab-button i {
    font-size: 1rem;
}
.main-bottom-navbar .carpool-tab-button:hover,
.main-bottom-navbar .shuttle-tab-button:hover,
.main-bottom-navbar .user-account-tab-button:hover {
    color: #373737;
}
.main-bottom-navbar .tab-active,
.main-bottom-navbar .tab-active:hover {
    color: #0066A3 !important;
}