/** FONT */
$default-font-family: 'Roboto', sans-serif;

/** FONT WEIGHT */
$font-weight-thin: 300;
$font-weight-bold: 700;

/** COLORS */
$font-color-black: #000000;
$font-color-white: #FFFFFF;
$font-color-blue-light: #007ACC;

$background-color-transparent: transparent;
$background-color-gray-dark: #3f2525;
$background-color-white-dark: #EDEDED;
$background-color-white: #FFFFFF;
$background-color-blue-light: #007ACC;

$border-color-transparent: transparent;
$border-color-gray: #C9C9CA;