@media only screen and (max-width: 600px) {
    .index-page-container .container {
        width: 80% !important;
    }
}
@media only screen and (max-width: 480px) {
    .index-page-container .container {
        width: 100% !important;
        padding: 0;
    }
    .index-page-container .login-form {
        width: 95%;
        margin: auto;
    }
    .index-page-container .login-form .login-button {
        width: 95%;
    }
    .index-page-container .login-form-container {
        padding: 12px 18px;
    }
    .index-page-container .sign-up-form {
        width: 95%;
        margin: auto;
    }
    .index-page-container .sign-up-form .login-button {
        width: 95%;
    }
    .index-page-container .sign-up-form-container {
        padding: 12px 18px;
    }
    .welcome-rems {
        padding-bottom: 12px;
    }
    .welcome-rems .pagename {
        font-size: 1.5rem;
    }
    .welcome-rems .pagedescription {
        font-size: 0.875rem;
    }
}
@media only screen and (max-width: 320px) {
    .index-page-container .login-form-container {
        padding: 6px 9px;
    }
    .index-page-container .sign-up-form-container {
        padding: 6px 9px;
    }
    .welcome-rems {
        padding-bottom: 12px;
    }
    .welcome-rems .pagename {
        font-size: 1.25rem;
    }
    .welcome-rems .pagedescription {
        font-size: 0.75rem;
    }
}